##Text is escaped twice so that the characters generated in the text area display properly escaped (JRA-12184)
###macro (doubleEncode $html)
##        $textUtils.htmlEncode($textUtils.htmlEncode($html))
###end
#if($version)
<title>$textUtils.htmlEncode($action.getText('release.notes.html.title', $component, $version))</title>
#else
<title>$textUtils.htmlEncode($action.getText('custom.release.notes.html.title.no.version', $component))</title>	
#end
<body>
<table>
<tr>
<td>
#if($version)
<a href="$!requestContext.baseUrl/secure/ConfigureReleaseNoteByComponent.jspa?projectId=${versionObj.projectObject.id}&version=${versionObj.id}&component=${componentId}">$action.getText('releasenotes.configure')</a>
#else
<a href="$!requestContext.baseUrl/secure/ConfigureReleaseNoteByComponent.jspa?projectId=${projectId}&component=${componentId}">$action.getText('releasenotes.configure')</a>
#end

#foreach ($issueType in $issueTypes)
#if($issueType.issues.size() > 0)
<h2>$textUtils.htmlEncode($issueType.name)</h2>
<ul>
#foreach ($issue in $issueType.issues)
<li>[<a href='$requestContext.canonicalBaseUrl/browse/$issue.key'>$issue.key</a>] - $textUtils.htmlEncode($issue.summary)</li>
#end
</ul>
#end
#end
</td>
</tr>

<tr>
<td>

<hr width="100%">

##<a name="editarea"><h2>$action.getText('release.notes.edit.copy')</h2></a>
<p>$action.getText('release.notes.description')<br></p>

<textarea rows="40" cols="120" id="editcopy">

#if($version)
#doubleEncode($action.getText('release.notes.heading', $component, $version))
#else
#doubleEncode($action.getText('release.notes.heading.no.version', $component))
#end

#foreach ($issueType in $issueTypes)
    #if($issueType.issues.size() > 0)

<h2>#doubleEncode($issueType.name)</h2>
<ul>
#foreach ($issue in $issueType.issues)
<li>[<a href='$!requestContext.canonicalBaseUrl/browse/$issue.key'>$issue.key</a>] - #doubleEncode($issue.summary)</li>
#end
</ul>
#end
#end
</textarea>
</td>
</tr>
</table>
</body>