#if($version)
<title>$textUtils.htmlEncode($action.getText('release.notes.text.title', $component, $version))</title>
#else
<title>$textUtils.htmlEncode($action.getText('custom.release.notes.text.title.no.version', $component))</title>
#end
<body>
<table>
<tr>
<td>
#if($version)
<a href="$!requestContext.baseUrl/secure/ConfigureReleaseNoteByComponent.jspa?projectId=${versionObj.projectObject.id}&version=${versionObj.id}&component=${componentId}">$action.getText('releasenotes.configure')</a>
#else
<a href="$!requestContext.baseUrl/secure/ConfigureReleaseNoteByComponent.jspa?projectId=${projectId}&component=${componentId}">$action.getText('releasenotes.configure')</a>
#end

#foreach ($issueType in $issueTypes)
#if($issueType.issues.size() > 0)
<h2>$textUtils.htmlEncode($issueType.name)</h2>
<ul>
#foreach ($issue in $issueType.issues)
<li>[<a href='$!requestContext.baseUrl/browse/$issue.key'>$issue.key</a>] - $textUtils.htmlEncode($issue.summary)</li>
#end
</ul>
#end
#end
</td>
</tr>

<tr>
<td>

<hr width="100%">

##<a name="editarea"><h2>$action.getText('release.notes.edit.copy')</h2></a>
<p>$action.getText('release.notes.description')<br></p>

<textarea rows="40" cols="120">

#if($version)
#doubleEncode($action.getText('release.notes.heading', $component, $version))
#else
#doubleEncode($action.getText('release.notes.heading.no.version', $component))
#end

#foreach ($issueType in $issueTypes)
#if($issueType.issues.size() > 0)
** $textUtils.htmlEncode($issueType.name)
#foreach ($issue in $issueType.issues)
    * [$issue.key] - $textUtils.htmlEncode($issue.summary)
#end
#end

#end
</textarea>
</td>
</tr>
</table>
</body>